/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 50px; /* Ajuste conforme necessário */
}

/* Menu Hambúrguer */
.menu-toggle {
    display: none; /* Esconder em telas maiores */
    cursor: pointer;
}

.menu-icon, .close-icon {
    width: 30px;
    height: 30px;
}

.close-icon {
    display: none; /* Esconder o ícone de fechar inicialmente */
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

/* Estilos para Mobile */
@media (max-width: 768px) {
    .menu-toggle {
        display: block; /* Mostrar o ícone do menu em telas pequenas */
    }

    nav {
        display: none; /* Esconder o menu em telas pequenas */
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: #333;
        padding: 10px;
        border-radius: 5px;
    }

    nav.active {
        display: flex; /* Mostrar o menu quando ativo */
    }

    .close-icon.active {
        display: block; /* Mostrar o ícone de fechar quando o menu está aberto */
    }

    .menu-icon.active {
        display: none; /* Esconder o ícone do menu quando o menu está aberto */
    }
}